html, * {
    font-family: 'Montserrat', sans-serif;
}

body > * {
    background: #1A1A1A
}

.container {
    width: 80%
}

.container > * {
    background: #1A1A1A;
}

.info {
    padding-left: 50px;
    padding-top: 50px;
    background: #292929;
    color: white;
    height: 450px;
    width: 1920px;
}

.header {
    padding-left: 50px;
    padding-top: 50px;
    background: #81B71A;
    color: white;
    height: 600px;
    width: 1920px;
}


.words {
    width: 900px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 700px 350px;
}

.country {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}

.spain {
    background-color: #007bff
}

.germany {
    background-color: #fd7e14
}

.finland {
    background-color: #28a745
}

.turkey {
    background-color: #dc3545
}